<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ChromeDriver" value="C:\Users\Xavier Adams\source\repos\ConsoleApp1\packages\Selenium.Chrome.WebDriver.79.0.0\driver"/>
    <add key="URL" value="https://finance.yahoo.com/gainers"/>
    <add key="DataFile" value="C:\Program Files x86\WebScrape\TopGainers.txt"/>
    <add key="TableElement" value="#scr-res-table > div.Ovx\(a\).Ovx\(h\)--print.Ovy\(h\) > table"/>
    <add key="DirectoryPath" value="C:\Program Files x86\WebScrape\"/>
    <add key="FilePath" value="C:\Program Files x86\WebScrape\TopGainers.txt"/>
    <add key="FileName" value="TopGainers.txt"/>

  </appSettings>


</configuration>